@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
  background-color: #a9d7d1;
  display:grid;
  grid-template-columns: 1fr 4fr 1fr;
  font-family: 'Raleway', Helvetica;
}
#title {
  text-align: center;
  font-weight:400;
  grid-area:1/1/2/4
}
#form_center {
  text-align:center;
  background-color:white;
  grid-area:2/2/3/3;
  padding:20px 0px 20px 0px;
  border-radius:10px;
}
.Table {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.left {
  margin-top:5px;
  text-align:right;
  padding-left:80px;
}
.right {
  text-align:left;
}
button {
  margin-top:20px;
  width:100px;
  height: 40px;
  border-radius:5px;
  background-color:#66CCFF;
  color:white;
  font-size:18px;
}
button:hover {
  background-color:#3399FF;
  cursor: pointer;
}

select {
  height:30px;
}

input[type="text"]{
  width: 250px;
  height: 30px;
}
textarea {
  width:250px;
  height:50px;
}
input[type="radio"]
{
  margin-bottom: 10px;
}
input[type=checkbox]
{
  margin-bottom: 15px;
}
input[type=email]
{
  width: 250px;
  height: 30px;
}
input[type=number]
{
  width: 250px;
  height: 30px;
}
